[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework = "*"
django-cors-headers = "*"
celery = {extras = ["redis"],version = "*"}
django-celery-email = "*"
django-rest-passwordreset = "*"

[requires]
python_version = "3.8"
